[submodule "BCFRepo"]
	path = BCFRepo
	url = https://github.com/buildingSMART/BCF-XML.git
[submodule "thirdparty/godot-cpp"]
	path = thirdparty/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
[submodule "thirdparty/tinyxml2"]
	path = thirdparty/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
